.background {
    background-color: goldenrod;
    font-size: 500px;
}

.midden {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
}

.onder {
    display: flex;
    justify-content: center;
    font-size: 80px;
}
